span.sentence {
    margin-right: 5px;
    cursor:default;
}

    span.sentence.positive {
        border-bottom:1px solid #5DFF51;
    }

    span.sentence.neutral {
        border-bottom:1px solid #81B8CC;
    }

    span.sentence.negative {
        border-bottom:1px solid #FF7A5E;
    }

    span.sentence:hover {
        background-color:rgba(73, 169, 189, .25);
    }

    span.sentence.clicked {
        background-color:rgba(73,169,189, .5);
    }

div#darker_background{
	background-color: #efeeef;
}

div#story {
    width: 8.5in;
    float:left;
}

div#taggingBox {
    float:left;
}

#positive.selected {
    background-color: #5DFF51;
}

#neutral.selected {
    background-color: #81B8CC;
}

#negative.selected {
    background-color: #FF7A5E;
}

div#aboutText {
    width:960px;
    margin-left:auto;
    margin-right:auto;
}

h1.about {
    width:80px;
    /*margin-left:auto;
    margin-right:auto;*/
	margin-left: 100px;
	text-align: left;
}

div.sentenceCluster {
    background-color: #2e4b67;
    overflow: auto;
    width: 500px;
    display: inline-block;
}

    div.sentenceCluster > div.sentenceContainer {
        margin: 10px;
        background-color: white;
        padding: 5px;
    }

div.clusterDetails {
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
}

div.cluster {
    margin-bottom: 20px;
}